.cart{
    height: 300px;
}
#nav{
    background-color: #d05c62;
}
#boutton{
    border-radius: 80px !important;
}
p{
    font-size: 16px !important;
}
#color{
    color:#d05c62!important;
}

#tex{
    text-transform: lowercase;
    text-align: center;
}

#tex:first-letter{
    text-transform: uppercase;
   }
.card-image{
    background-size: "cover";
}
#card1{
    padding-top: 15px;
    padding-bottom: 15px; 
}
.logout{
    float: right;
}

#sidebar2 { 
    width: 250px; 
    background: transparent; 
    color: #fff; 
    transition: all 0.3s; 
  position: fixed;
}

#imagedash{
    width: 120px;
    height: 120px;
}
#imagedash1{
    width: 100px;
    height: 100px;
}
#Ajouter{
    display: none;
}

#Lister{
    display: none;
}
#admina {
    z-index: 1;
}

@media only screen and (max-width: 600px) {
    #adminoption {
        display: none
    }
}

#li2{
    width: 165px;
}

#edit{
    background-color: #f3671f !important;
    border-radius: 80px;
  }
#color3{
    color: #f3671f !important;
}
#li2{
    margin-left: 7px;
    background-color: rgb(180, 180, 180) !important;
    width: 180px;
}
#visual{
    background-color: #d4beb3 !important;
    border-radius: 10px;
    border: none;
}
#decon{
    border: none !important;
    background-color: transparent !important;
}

#li1{
    background-color: rgb(180, 180, 180) !important;
    width: 180px;
}
#corp{
    z-index: -1;
}